<% include ../partials/header %>

<h1>More Information about the Book</h1>

<h3><%= book.name %></h3>
<h4><%= book.desc %></h4>
<img src="/static/images/<%= book.url %>" width=100%>

<% include ../partials/footer %>
