<% include ../partials/header %>

<h1>Remove a book!</h1>
<form class="" action="/books/remove" method="post">
  <div class="formgroup">
    <input type="text" name="name" placeholder="Name to Remove">
    <input type="submit" value="Submit">
  </div>
</form>

<% include ../partials/footer %>
