<% include partials/header %>

<h1>Registration</h1>

<form class="" action="/register" method="post">
  <input type="email" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <button type="submit"></button>
</form>

<% include partials/footer %>
