body{
  background: #fafafa;
}

.main-body{
  margin-top: 20px;
}

.new-form{
  width:30%;
}

.no-display{
  display: none;
}

.delete-form{
  display: inline;
}

.jumbotron{
  margin: 0 auto;
  padding-bottom: 0;
  padding-top: 0;
}

.logo-right{
  float: right;
  margin-right: 1em;
  height: 100%;
}
