/*
 * Base structure
 */

html,
body {
  height: 100%;


  background: url("https://images.unsplash.com/photo-1476445704028-a36e0c798192?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e36f5552d888afec78c2e7478a458b7e&auto=format&fit=crop&w=1500&q=80") no-repeat 50% 50%;
  background-size: cover;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #F9F8F4;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  font-family: 'Berkshire Swash', sans-serif;
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

#hdr-h1{
  -vendor-animation-duration: 2s;
  -vendor-animation-delay: 0.1s;
}

#hdr-btn{
  -vendor-animation-duration: 5s;
  -vendor-animation-delay: 0.5s;
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.blockquote-footer{
  color: rgba(255, 255, 255, .85);
}
/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .85);
}
